<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388035901471-qtsqhjafhq3tti8fb4rgok6s8l2pf2s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388035901471-qtsqhjafhq3tti8fb4rgok6s8l2pf2s7</string>
	<key>API_KEY</key>
	<string>AIzaSyBW-z4Sn6mNta1n3jIPWoJXGn-MOL9jQWo</string>
	<key>GCM_SENDER_ID</key>
	<string>388035901471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GroupicProjekt.Groupic</string>
	<key>PROJECT_ID</key>
	<string>groupic-ios-9171f</string>
	<key>STORAGE_BUCKET</key>
	<string>groupic-ios-9171f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388035901471:ios:2def9987f0aa53fe2cbd2a</string>
</dict>
</plist>